 * {
            margin: 0;
            padding: 0;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 100vh;
            background-color: rgb(138, 43, 226);
        }

        .container {
            width: 400px;
            height: 300px;
            border: 2px solid rgb(255, 250, 250);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: rgb(44, 46, 48);
            border-radius: 30px;
            margin: 0 10px 0 10px

        }

        input {
            width: 50%;
            margin: 10px;
            height: 20%;
            border-radius: 5px;
            text-align: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 2rem;
            border-radius: 20px;
            border: 2px solid rgb(247, 159, 255);
            background-color: rgb(8, 115, 81);
            color: #fff;
        }

        button {
            margin: 10px;
            cursor: pointer;
        }

        #btn {
            font-family: monospace;
            font-size: 1.1rem;
            background-color: rgb(57, 162, 165);
            color: #ffffff;
            width: 5rem;
            height: 2rem;
            border-radius: 10px;
            border: none;

        }

        #btn:active {
            background-color: gray;
        }
        #rst {
            font-family: monospace;
            font-size: 1.1rem;
            border: none;
            background-color: rgb(165, 57, 57);
            color: #ffffff;
            width: 5rem;
            height: 2rem;
            border-radius: 10px;
            
        }
         #rst:active {
            background-color: gray;
        }